.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.FullLocationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.LocationHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.LocationHeaderContainer {
  display: flex;
  justify-content: center;
}

.WeatherBoxMainPanel {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
}

.WeatherBoxContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.WeatherDayDialog {
  width: 50%;
  height: 50%;
}
